<h1>Your list of bookmarks</h1>
<ul>
 <% @new_list.each do |bookmark| %>
   <li><a href= <%= bookmark['url'] %>><%= bookmark['url'] %></a></li>
 <% end %>
</ul>
<form action="/create_bookmark" method="POST">
  <input type="text" name="url" placeholder="URL" />
  <input type="submit" value="Submit" />
</form>
