<h1>Please add a tag:</h1>
<form action="/bookmarks/<%= @bookmark_id %>/create_tag" method="POST">
  <input type="text" name="content" placeholder="Tag" />
  <input type="submit" value="Add tag" />
</form>
