<h1>Please enter a unique email address and a password</h1>
<form action="/register" method="POST">
  <input type="text" name="email" placeholder="Email" />
  <input type="text" name="password" placeholder="Password" />
  <input type="submit" value="Submit" />
</form>
<% if @user_taken %>
  <div id="success" style="border: 2px solid green;">
  <p>Sorry, but that email address is already taken</p>
  </div>
<% end %>
